:root {
    --text-color: #e0e0e0;
    --background-form: #727272;
    --background-btn: #5e5e5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(172, 172, 172), rgb(122, 121, 121), rgb(160, 160, 160));
}

#titulo {
    text-align: center;
    padding: 50px 0px;
}

#titulo h1 {
    font-size: 94px;
}

#titulo p {
    font-size: 38px;
    font-style: oblique;
}

/* estilização do formulário */
.home {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}

.home img {
    width: 80%;
    height: auto;
}

form {
    text-align: right;
    width: 400px;
    margin: 0;
    padding: 0;
}

.campo-form {
    height: 2em;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: uppercase;
}

label {
    font-size: 20px;
    font-weight: 700;
    font-style: oblique;
    margin-bottom: 15px;
}

.text-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--text-color);
    text-shadow: 1px 1px 2px black;
}

form fieldset {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--background-form);
    box-shadow: 0px 0px 8px black;
}

form fieldset legend {
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(230, 230, 230);
    text-shadow: 3px 3px 5px rgb(17, 16, 16);
}

.input-form .btn-form {
    padding: 10px;
    margin-top: 8px;
    background-color: var(--background-btn);
    box-shadow: 2px 2px 8px rgb(27, 27, 27);
    border: none;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
}